<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
      mok0dbvthnrswH7Tz9Zf&up!g:qlxc
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <clear/>
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false"/>
          <!--           <action type="Redirect" url="https://framework.dynconfou.org{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" /> -->
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="default.html"/>
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <!--
      <remove statusCode="404" />
      <error statusCode="404" path="/oops/oops404.html" responseMode="ExecuteURL" />
      <remove statusCode="403" />
      <error statusCode="403" path="/oops/oops403.html" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/oops/oops500.html" responseMode="ExecuteURL" />
-->
      <remove statusCode="404"/>
      <error statusCode="404" path="/" responseMode="ExecuteURL"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="/" responseMode="ExecuteURL"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="/" responseMode="ExecuteURL"/>
    </httpErrors>
    <!--         <httpErrors errorMode="Detailed" existingResponse="PassThrough" /> -->
  </system.webServer>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/"/>
    <!--       <customErrors mode="Off" defaultRedirect="~/oops" /> -->
  </system.web>
</configuration>